body {
  margin: 0;
  padding: 0;
  background-color: #22232e; }
  body .header {
    background-image: url("../img/m-h-night.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #22232e;
    border-bottom-right-radius: 40%;
    width: 100%;
    height: 700px;
    color: #fff; }
  body .header-wrap {
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-left: 150px; }
    body .header-wrap p {
      color: #fff; }
  body .landing-logo {
    display: flex;
    font-family: sans-serif;
    width: 400px;
    height: 50px;
    flex-direction: row;
    padding-top: 0; }
    body .landing-logo p {
      font-size: 25px;
      text-transform: uppercase;
      padding-left: 10px;
      text-align: center;
      margin-top: 0;
      color: #fff; }
    body .landing-logo span {
      font-size: 12px;
      text-transform: none;
      display: flex;
      padding-left: 8px; }
  body .header_heading {
    font-family: sans-serif;
    width: 480px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    z-index: 1;
    position: relative;
    top: 30px; }
    body .header_heading:before {
      content: '';
      position: absolute;
      width: 47%;
      height: 35px;
      bottom: 1px;
      left: 0;
      background-color: #ff4e1e;
      z-index: -1; }
  body .header_text {
    font-family: sans-serif;
    padding-top: 20px;
    line-height: 25px; }
  body button {
    font-family: sans-serif;
    font-size: 15px;
    background-color: #e3ab00;
    color: #fff;
    width: 120px;
    height: 40px;
    border: none;
    margin-top: 50px;
    border-radius: 3px; }
  body .login {
    font-family: sans-serif;
    margin-left: 130px;
    color: #fff; }
  body .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #22232e; }
    body .section .section_text {
      font-family: sans-serif;
      width: 280px;
      font-size: 22px;
      line-height: 1;
      z-index: 1;
      position: relative;
      top: 10px;
      color: #fff; }
      body .section .section_text:before {
        content: '';
        position: absolute;
        width: 35.8%;
        height: 25px;
        bottom: 1px;
        left: 120px;
        background-color: #ff4e1e;
        z-index: -1; }
  body .section_card_wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px; }
  body .section_card {
    display: flex;
    background-color: #3c3f50;
    height: 300px;
    width: 900px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px; }
    body .section_card img {
      border-radius: 5px;
      width: 41%; }
    body .section_card .section_card_right_container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 200px;
      width: 400px;
      margin: 20px 20px 0 70px; }
      body .section_card .section_card_right_container a {
        color: #bbc3c9;
        margin-top: 10px; }
    body .section_card .section_card_heading {
      color: #fff;
      font-size: 22px; }
    body .section_card .section_card_text {
      color: #bbc3c9;
      font-size: 17px;
      text-align: justify; }
  body .section_banner {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #e3ab00, #ff4e33);
    width: 1000px;
    height: 130px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: -60px; }
    body .section_banner .section_banner_text_wrap {
      display: flex;
      flex-direction: column; }
    body .section_banner .section_banner_heading {
      color: #fff;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 25px;
      position: relative;
      z-index: 1; }
      body .section_banner .section_banner_heading:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 40px;
        right: 54%;
        bottom: 1px;
        background-color: #ff4e1e;
        z-index: -1; }
    body .section_banner .section_banner_text {
      color: #bbc3c9;
      font-size: 15px;
      margin-top: 0;
      font-family: sans-serif; }
    body .section_banner button {
      margin-top: 40px; }
  body .footer {
    background-color: #3c3f50; }
    body .footer-wrap {
      display: flex;
      justify-content: space-around;
      align-items: first baseline; }
      body .footer-wrap span {
        color: #bbc3c9; }
  body .footer_logo {
    padding-top: 100px; }
    body .footer_logo p {
      color: #bbc3c9; }
  body .footer_text {
    width: 300px;
    color: #bbc3c9;
    font-size: 15px;
    font-family: sans-serif; }

/*# sourceMappingURL=style2.css.map */
